@using restaurant_system.Tools
@model IEnumerable<restaurant_system.Models.Table>
@{
    ViewData["Title"] = "Столы";
}
<h1>
    Столы
</h1>
<br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm-add">Создать</button>
<br>
<br>
@{
    await Html.RenderPartialAsync("SearchPartial", new { SearchString = ViewBag.searchString });
}
<br>
<table class="table table-hover">

    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Имя</th>
            <th scope="col">Архивировано</th>
            <th scope="col"></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr id="row-@item.Id">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@NameHelper.BoolToString(item.Archived)</td>
                <td>
                    <button onclick="SetEditId(@item.Id)" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirm-edit">Редактировать</button>
                    <button onclick="SetDeleteId(@item.Id)" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirm-delete">Удалить</button>
                </td>

            </tr>
        </tbody>
    }
</table>



@{
    await Html.RenderPartialAsync("TablesAddPartial");
    await Html.RenderPartialAsync("DeleteConfirmPartial", new { Action = "DeleteTable" });
    await Html.RenderPartialAsync("TablesEditPartial");
    await Html.RenderPartialAsync("PaginationPartial", new { PageCount = ViewBag.PageCount, CurrentPage = ViewBag.CurrentPage, SearchString = ViewBag.searchString });
    await Html.RenderPartialAsync("MessegePartial");
}
