@{
    ViewData["Title"] = "Бронирование";
    int pageCount = 1;
}
<h1>
    Бронирование
</h1>
<br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm-add">Создать</button>
<br>
<br>
@{
    await Html.RenderPartialAsync("SearchPartial", new { SearchString = ViewBag.searchString });
}
<br>


<table class="table table-hover">

    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Имя</th>
            <th scope="col">№ стола</th>
            <th scope="col">Стол</th>
            <th scope="col">Начало</th>
            <th scope="col">Конец</th>
            <th scope="col">Продолжительность (ч)</th>
            <th scope="col"></th>
        </tr>
    </thead>
    @foreach (var item in Model.Reservation)
    {
        <tbody>
            <tr id="row-@item.Id">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Table.Id</td>
                <td>@item.TableName</td>
                <td>@item.Start</td>
                <td>@item.End</td>
                <td>@item.Hours</td>
                <td>
                    <button onclick="SetEditId(@item.Id)" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirm-edit">Редактировать</button>
                    <p height="3px"></p>
                    <button onclick="SetDeleteId(@item.Id)" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirm-delete">Удалить</button>
                </td>

            </tr>
        </tbody>
    }
</table>



@{
    await Html.RenderPartialAsync("MessegePartial");
    await Html.RenderPartialAsync("ReservationsAddPartial", new { Tables = Model.Tables });
    await Html.RenderPartialAsync("DeleteConfirmPartial", new { Action = "DeleteReservation" });
    await Html.RenderPartialAsync("ReservationsEditPartial", new { Tables = Model.Tables });
    await Html.RenderPartialAsync("PaginationPartial", new { PageCount = ViewBag.PageCount, CurrentPage = ViewBag.CurrentPage, SearchString = ViewBag.searchString });
}
