@model IEnumerable<restaurant_system.Models.Dish>
@{
    ViewData["Title"] = "Dishes";
}
<h1>
    Dishes
</h1>
<br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm-add">Create</button>
<br>
<br>
@{
    await Html.RenderPartialAsync("SearchPartial", new { SearchString = ViewBag.searchString });
}
<br>
<table class="table table-hover">

    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Archived</th>
            <th scope="col"></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr id="row-@item.Id">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.Archived</td>
                <td>
                    <button onclick="SetEditId(@item.Id)" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirm-edit">Edit</button>
                    <button onclick="SetDeleteId(@item.Id)" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirm-delete">Delete</button>
                </td>

            </tr>
        </tbody>
    }
</table>



@{
    await Html.RenderPartialAsync("DishesAddPartial");
    await Html.RenderPartialAsync("MessegePartial");
    await Html.RenderPartialAsync("DeleteConfirmPartial", new { Action = "DeleteDish" });
    await Html.RenderPartialAsync("DishesEditPartial");
    await Html.RenderPartialAsync("PaginationPartial", new { PageCount = ViewBag.PageCount, CurrentPage = ViewBag.CurrentPage, SearchString = ViewBag.searchString });
}

