@model IEnumerable<restaurant_system.Models.Customer>
@{
    ViewData["Title"] = "Customers";
    int pageCount = 1;
}
<h1>
    Customers
</h1>
<br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm-add">Create</button>
<br>
<br>
@{
    await Html.RenderPartialAsync("SearchPartial", new { SearchString = ViewBag.searchString });
}
<br>
<table class="table table-hover">

    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr id="row-@item.Id">
                <td>@item.Id</td>
                <td>@item.Firstname</td>
                <td>@item.Lastname</td>
                <td>@item.Phone</td>
                <td>
                    <button onclick="SetEditId(@item.Id)" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirm-edit">Edit</button>
                    <button onclick="SetDeleteId(@item.Id)" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirm-delete">Delete</button>
                </td>

            </tr>
        </tbody>
    }
</table>



@{
    await Html.RenderPartialAsync("CustomersAddPartial");
    await Html.RenderPartialAsync("MessegePartial");
    await Html.RenderPartialAsync("DeleteConfirmPartial", new { Action = "DeleteCustomer" });
    await Html.RenderPartialAsync("CustomersEditPartial");
    await Html.RenderPartialAsync("PaginationPartial", new { PageCount = ViewBag.PageCount, CurrentPage = ViewBag.CurrentPage, SearchString = ViewBag.searchString });

}
